{% extends 'base.html.twig' %}

{% block title %}Hello MLegalController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div id="mentions-legales">
                <h1>Mentions Légales</h1>
                <hr>
                 <h3>Éditeur du site :</h3>
                 
                <ul>
                <li>
                    <p>LCR TV</p>                
                </li>
                <li>
                    <p>contact@lcrvt.fr.fr</p>                
                </li>
             
                 </ul>
                 <h3>Propriété intellectuelle :</h3>
                 
                 <p>Tous les éléments présents sur ce site (textes, images, vidéos, etc.) sont protégés par les lois sur la propriété intellectuelle. Toute reproduction, représentation, modification, diffusion, adaptation, ou exploitation, même partielle, des éléments de ce site est strictement interdite sans autorisation préalable écrite. </p>
                 <h3>Données personnelles :</h3>
                 
                 <p>Lors de votre visite sur ce site, certaines données personnelles peuvent être collectées, notamment via les formulaires de contact ou les cookies. Ces données sont traitées conformément à notre politique de confidentialité <a href="#politiques-confidentialite" class="text-decoration-none"> politique de confidentialité</a>.</p>
                  <h3>Cookies :</h3>
                 
                 <p>Ce site utilise des cookies pour améliorer l'expérience des utilisateurs. Vous pouvez gérer les paramètres relatifs aux cookies via les options de votre navigateur.</p>
                  <h3>Liens externes :</h3>
                 <p>Ce site peut contenir des liens vers des sites externes. Nous ne pouvons pas être tenus responsables du contenu ou des pratiques de confidentialité de ces sites.</p>
                   <h3>Responsabilité :</h3>
                 
                 <p>Nous nous efforçons de fournir des informations précises sur ce site, mais nous ne pouvons garantir leur exhaustivité ou leur exactitude. Nous déclinons toute responsabilité en cas d'erreurs ou d'omissions sur ce site.</p>
                   <h3>Contact :</h3>
                 
                 <p>Pour toute question ou demande concernant ce site ou ses mentions légales, veuillez nous contacter à l'adresse suivante : contact@lcrtuto.fr .</p>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <div id="politiques-confidentialite">
                <h2>Politiques de Confidentialité</h2>
                <hr>
                   <h3> Collecte des données personnelles</h3>
                 
                 <p>Nous collectons certaines données personnelles lorsque vous visitez notre site . Ces données peuvent inclure votre username, mot de passe et d'autres informations que vous choisissez de nous fournir via nos formulaires .</p>
                
                     <h3> Utilisation des données</h3>
                 
                 <p>Les données personnelles que nous collectons sont utilisées pour les finalités suivantes :<br>

- Répondre à vos demandes de renseignements et de support.<br>
- Vous envoyer des informations que vous avez demandées, telles que des newsletters ou des mises à jour.<br>
- Améliorer notre site et nos services en fonction de vos commentaires et de vos préférences.<br>
- Vous informer des changements importants liés à notre site ou à nos services.</p>

     <h3> Partage des données</h3>
                 
                 <p>Nous ne vendons, ne louons ni ne partageons vos données personnelles avec des tiers à des fins commerciales.</p>
                
                
                     <h3> Sécurité des données</h3>
                 
                 <p>Nous prenons des mesures de sécurité raisonnables pour protéger vos données personnelles contre toute utilisation non autorisée, perte ou accès non autorisé.</p>
                
                     <h3> Vos droits</h3>
                 
                 <p>Vous avez le droit d'accéder, de corriger, de supprimer ou de limiter l'utilisation de vos données personnelles. Vous pouvez également vous opposer au traitement de vos données à des fins de marketing direct. Pour exercer ces droits, veuillez nous contacter à [adresse e-mail de contact].</p>
                
                     <h3> Modifications de la politique de confidentialité</h3>
                 
                 <p>Nous pouvons mettre à jour notre politique de confidentialité de temps en temps. Toute modification sera affichée sur cette page.</p>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}
